<h1>New inteligencia artificial</h1>

<%= render "form", inteligencia_artificial: @inteligencia_artificial %>

<br>

<div>
  <%= link_to "Back to inteligencia artificials", inteligencia_artificials_path %>
</div>
