<footer class="bg-dark text-white">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 mb-3 mb-md-0">
        <h4 class="mb-3">Sobre Nós</h4>
        <p>Informações sobre a empresa, missão, visão, etc.</p>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <h4 class="mb-3">Links Rápidos</h4>
        <ul class="nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link px-0 text-white">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-0 text-white">Sobre</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-0 text-white">Serviços</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3">Contato</h4>
        <p>Detalhes de como entrar em contato.</p>
      </div>
    </div>
  </div>
  <div class="text-center py-3 bg-light mt-4">
    <span class="text-dark">&copy; 2024 Nome da Empresa</span>
  </div>
</footer>
